<div id="header"></div>


<div class="messenger">
    <div class="location"><p id="chatRoom">Chatroom</p> </div>
    <div id="target"></div>



    <div class="formContainer">
        <div class="formBar"></div>
        <textarea type="text" id="message"></textarea>
        <button id="sendToMe" type="button">send to me</button>
        <button id="sendToAll" type="button">send to all</button>
        <div class="formBarBott"></div>
    </div>
</div>
<div class="finder">
    <div id="sidebar">
        <div class="nav">
            <div id="tabUsers"> Active users</div>
            <div id="tabRooms"> Rooms</div>
            <div id="tabFriends"> Friends</div>
        </div>
        <div id="sidebarContent"></div>

    </div>

    <div class="pictureContainer">
        <img src="../resources/def_profile.png" alt="">
    </div>
</div>
